/*
Theme Name: SwirlTheme
Theme URI: https://swirlsites.com
Description: A child theme of Twenty Twenty.
Author: Derin Tolu
Author URI: https://swirlsites.com
Template: twentytwenty
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
*/
